<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoHabit</title>
    
    <!--Bootstrap CSS Loading-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap" rel="stylesheet">

    <!--Normal CSS external sheet loading-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>

    <!-- SPACE OVERLAY -->
    <div class="space-overlay">
        
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><!--Bootstrap Navbar where navbar-expand-lg means collapse on large screen and bg is dark   -->
        <div class="container-fluid"><!--Container  with full width for responsive padding-->
            <a class="navbar-brand" href="{{ url_for('home') }}">ExoHabit AI</a><!--navbar brand means center of website--titutlar-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!--navbar-toggler is hamburger menu-->
                <span class="navbar-toggler-icon"></span> <!---span is used to hold the icon of hamburger menu -->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('predict_page') }}">Predict</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rank_page') }}">Rank</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('insights_page') }}">Insights</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="space-bg">
        {% block content %}{% endblock %}
    </div>

<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<!--Normal JS-->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>

<!--how to add footer-->
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2026 ExoHabit AI. All rights reserved by Bhargavi Gangoor.</p>
</footer>