{% extends "base.html" %}

{% block content %}

<div class="hero-bg">

    <!-- Overlay Content -->
    <div class="hero-overlay">

        <div class="container text-center landing">
            <h1 class="display-4 title">ExoHabit AI</h1>
            <p class="lead subtitle">Exploring the habitability of distant worlds</p>
        </div>

        <!-- Facts Carousel -->
        <div class="container mt-5"><!--mt means margin top-->
            <div id="factsCarousel" class="carousel slide" data-bs-ride="carousel"><!--data-bs-ride means what shd element do initially -->
                <div class="carousel-inner text-center" id="factsContainer"></div><!-- carousel-inner means container for carousel items -->

                <button class="carousel-control-prev" type="button" data-bs-target="#factsCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#factsCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

        <!-- Action Cards -->
        <div class="container mt-5 mb-5">
            <div class="row g-4 text-center">

                <div class="col-md-4">
                    <div class="action-card">
                        <h4>Predict Habitability</h4>
                        <p>Analyze exoplanets using AI.</p>
                        <a href="/predict" class="btn btn-outline-light">Try Now</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="action-card">
                        <h4>Rank Exoplanets</h4>
                        <p>Compare worlds by habitability score.</p>
                        <a href="/rank" class="btn btn-outline-light">View Rankings</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="action-card">
                        <h4>Insights Dashboard</h4>
                        <p>Explore model insights & analytics.</p>
                        <a href="/insights" class="btn btn-outline-light">Open Dashboard</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}
