{% extends "base.html" %}

{% block content %}
<div class="container mt-5 text-light" id="insights-section"><!--mt-5 means margin-top: 50px-->
  <h2 class="text-center mb-4">📊 Exoplanet Analytics Dashboard</h2>
  
  <div class="card bg-dark p-4 mb-4">
    <h4>Feature importance</h4>
    <div id="featureImportanceChart"></div>
  </div>

  <div class="card bg-dark p-4 mb-4"> <!--p-4 means padding: 40px-->
    <h4>Habitability Score Distribution</h4>
    <div id="scoreDistributionChart"></div>
  </div>

  <div class="card bg-dark p-4 mb-4">
    <h4>Star-Planet Correlation Heatmap</h4>
    <div id="correlationHeatmap"></div>
  </div>

  <a href="/export" class="btn btn-success mt-3">Download Excel Report</a> <!--mt-3 means margin-top: 30px-->
  <a href="/export-pdf" class="btn btn-danger mt-3 ms-2">Download PDF Report</a> <!--ms-2 means margin-left: 20px->
  <!--btn-danger is bootstrap class for red button-->
</div>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script><!--Plotly JS-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script><!--Custom JS for dashboard-->
  {% endblock %} 
