{% extends "base.html" %}
{% block content %}
<div class="container mt-5 text-light">
  <h2 class="text-center mb-4">🏆 Ranked Exoplanets</h2>

  <table class="table table-dark table-striped" id="rankTable">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Radius</th>
        <th>Mass</th>
        <th>Temperature</th>
        <th>Habitability Score</th>
      </tr>
    </thead>
    <tbody id="rankTableBody"></tbody>
  </table>
</div>

<script src="{{ url_for('static', filename='js/rank.js') }}"></script>
{% endblock %}

<!-- what does endblock do?  -->